<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asiainfo.orderdishes"
    android:versionCode="7"
    android:versionName="1.6" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
     <uses-permission android:name="android.permission.GET_TASKS" />
     
    

    <application
        android:allowBackup="true"
        android:name="com.asiainfo.orderdishes.BaseApplication"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.DishesHomeActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.Transparent" >
        </activity>
        <activity
            android:name=".ui.DishesSelectionActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:theme="@style/translucent" >
        </activity>
        <activity android:name=".ui.HallActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing">
            </activity>
        <activity android:name=".ui.widget.LoadingActivity"
            android:screenOrientation="landscape"
            android:theme="@style/translucent">

            </activity>
        <activity android:name=".ui.DiskOrderActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.Transparent"
            >

            </activity>
         <activity android:name="com.asiainfo.orderdishes.ui.DishSetActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.Transparent">
           
         </activity>
        <activity android:name=".ui.ElectronicPaymentActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.Transparent">
        </activity>
    </application>

</manifest>